body, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}
  
nav {
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: #A47DAB;
    padding: 1rem;
}

.nav-logo {
    width: 60px;         
    height: 60px;
    border-radius: 50%; 
    object-fit: cover;     
}

.menu {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}

.menu li:has(.submenu) {
    position: relative;
}

.menu li:has(.submenu):hover > .submenu {
    display: block;
}

.submenu {
    position: absolute;
    left: 0;
    display: none;
    background-color: #A47DAB;
    color: white;
}

li {
    margin: .5em 1em;
}

a { 
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: .2em .5em;
}

a:hover, a:focus {
    text-decoration: underline;
}

a.current {
    color: white;
    background-color: #E0AFFF;
    border-radius: 5px;
    text-decoration: none;
}

main {
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

section {
    box-sizing: border-box;
    width: 100%;
    padding: 1rem;
    margin: .5rem;
    border-radius: 1.5rem;
    color: white;
    background-color: #A47DAB;
    font-size: 1.2rem;
    text-align: left;
}

section h1 {
    border-bottom: 1px solid white;
    margin-top: 0;
    padding-bottom: 0.5rem;
}

section ul {
    list-style: disc;  
    padding-left: 1.5rem;
}

section li {
    list-style-type: disc;  
  }